---
layout: default
title: 19/02/2917 - Esprit de campagne - Émission spéciale chiffrage du programme
slug : chiffrage
menu: true
date: 2017-02-19
image: evenements/chiffrage/photos/visuel_rs.jpg
description: |
  Ce dimanche, à partir de 14h30, retrouvez l'émission en direct Esprit de Campagne sur la chaîne Youtube de Jean-Luc Mélenchon. Nous ferons une émission de 5 heures sur le chiffrage du programme : « L'Avenir en commun, combien ça coûte ? ».
  En toute transparence, les experts et les membres de la Commission en charge de la rédaction du programme détailleront les coûts et les recettes des propositions de la France insoumise pour répondre aux urgences sociales, économiques et humaines.
  Tout au long de l'émission, un groupe d'experts répondra aux questions posées par les internautes sur les réseaux sociaux grâce au hashtag #JLMChiffrage. Et des journalistes professionnels ont également accepté de suivre l'émission en direct. Ils interrogeront Jean-Luc Mélenchon et son équipe sur le plateau de "Esprit de campagne" à partir de 18H30.
subject: Esprit de campagne - Spéciale chiffrage programme
theme: chiffrage programme
---

<div class="row">
  <!-- Col 1 -->
  <div class="col-md-8">

    <!-- Streaming -->
    <p>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/T7b67QCjibc" frameborder="0" allowfullscreen></iframe>
    </p>

    <p>
      <!-- boutons partage rs -->
      <div class="row">
        <div class="col-xs-6">
          <a class="btn btn-block btn-lg" style="background-color:#3b5998;color: white;"  href="https://www.facebook.com/sharer/sharer.php?app_id=113869198637480&sdk=joey&u=https%3A%2F%2Fcampagne.jlm2017.fr%2F&display=popup&ref=plugin&src=share_button">PARTAGEZ SUR FACEBOOK</a>
        </div>
        <div class="col-xs-6">
          <a class="btn btn-block btn-lg" style="background-color:#4099FF;color: white;" href="https://twitter.com/intent/tweet?original_referer=https%3A%2F%2Fabout.twitter.com%2Ffr%2Fresources%2Fbuttons&ref_src=twsrc%5Etfw&text=%F0%9F%94%B4EN%20DIRECT%20DIMANCHE%20À%2014H30%20-%20Émission%20spéciale%20chiffrage%20du%20programme%20de%20la%20France%20insoumise%20!%20-%20%23JLMChiffrage&tw_p=tweetbutton&url=https%3A%2F%2Fcampagne.jlm2017.fr">PARTAGEZ SUR TWITTER</a>
        </div>
      </div>
    </p>

    <div class="row">
      <div class="col-md-12">

        <p class="lead">
          Participez sur <a href="https://twitter.com/search?q=%23JLMChiffrage">#JLMChiffrage</a>
        </p>

        <!-- Bouton donner -->
        <p>
          Pour financer cet évènement, nous ne pouvons compter que sur nous-mêmes.<br />
          Aidez en faisant un don :
        </p>
        <p><a href="https://dons.jlm2017.fr" class="btn btn-primary btn-block btn-lg">Je donne</a></p>
      </div>
      <div class="col-md-12">

      </div>
    </div>

    <h3>En direct</h3>
    <p><small>Rechargez la page pour voir les dernières informations.</small></p>
    <div class="row">
      <div style="max-height: 950px; overflow:auto;">
        {% assign direct='direct_chiffrage' %}
        {% include direct.html %}
      </div>
    </div>

  </div>

  <!-- Col 2 -->
  <div class="col-md-4 col-md-offset-0">

    <!-- Infos -->
    <div class="lead hidden-xs hidden-sm">
      Participez sur <a href="https://twitter.com/search?q=%23JLMChiffrage">#JLMChiffrage</a>&nbsp;!
    </div>

    <!-- tchat -->
    <!-- <iframe src="https://www.youtube.com/live_chat?v=T7b67QCjibc&embed_domain=campagne.jlm2017.fr" width="500" height="600" frameborder="0"></iframe> -->

    <!-- déroulé -->
    {% include chiffrage_deroule.html %}

    <!-- widget twitter -->
    <a class="twitter-timeline"  href="https://twitter.com/hashtag/JLMChiffrage" data-widget-id="832991054509043712">Tweets sur #JLMChiffrage</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


    <hr/>

    <div class="hidden-xs hidden-sm">
      <h3>Carte des interventions</h3>
      <div id="past-map" style="height: 480px; margin-bottom: 20px;"></div>
    </div>

  </div>
</div>
