
<h3>Déroulé de la journée</h3>

<div class="row">
  <div class="col-xs-2"><strong>08h00</strong></div><div class="col-xs-10"><p>Installation et décoration du parcours</p></div>
</div>
<div class="row">
  <div class="col-xs-2"><strong>10:00</strong></div><div class="col-xs-10"><p>Arrivée des cars</p></div>
</div>
<div class="row">
  <div class="col-xs-2"><strong>10:00 à 14:00</strong></div><div class="col-xs-10"><p>Musique, ateliers pancartes et autres préparatifs</p></div>
</div>
<div class="row">
  <div class="col-xs-2"><strong>14:00</strong></div><div class="col-xs-10"><p>RDV Place de la Bastille pour le départ du défilé !</p></div>
</div>
<div class="row">
  <div class="col-xs-2"><strong></strong></div><div class="col-xs-10"><p>Concerts</p></div>
</div>
<div class="row">
  <div class="col-xs-2"><strong>15:00 à 15:30</strong></div><div class="col-xs-10"><p>Discours de Jean-Luc Mélenchon</p></div>
</div>
<div class="row">
  <div class="col-xs-2"><strong></strong></div><div class="col-xs-10"><p>Concerts</p></div>
</div>
