
<h3>Déroulé de la journée</h3>

<div class="row">
  <div class="col-xs-3"><strong>08h00</strong></div><div class="col-xs-9"><p>Installation et décoration du parcours</p></div>
</div>
<div class="row">
  <div class="col-xs-3"><strong>10:00</strong></div><div class="col-xs-9"><p>Arrivée des cars</p></div>
</div>
<div class="row">
  <div class="col-xs-3"><strong>10:00 à&nbsp;14:00</strong></div><div class="col-xs-9"><p>Musique, ateliers pancartes et autres préparatifs</p></div>
</div>
<div class="row">
  <div class="col-xs-3"><strong>14:00</strong></div><div class="col-xs-9"><p>RDV Place de la Bastille pour le départ du défilé !</p></div>
</div>
<div class="row">
  <div class="col-xs-3"><strong></strong></div><div class="col-xs-9"><p>Concerts</p></div>
</div>
<div class="row">
  <div class="col-xs-3"><strong>15:00-15:30</strong></div><div class="col-xs-9"><p>Début du discours de Jean-Luc Mélenchon place de la République</p></div>
</div>
<div class="row">
  <div class="col-xs-3"><strong></strong></div><div class="col-xs-9"><p>Concerts</p></div>
</div>
