<li{% if page.url == '/evenements/bastille/index.html'%} class="active"{% endif %}><a href="https://18mars2017.fr">Le 18 mars</a></li>
<li><a href="https://avenirencommun.fr/univpop_programme/seance-1-6eme-republique/">La 6ème République dans le programme</a></li>
<li><a href="https://campagne.jlm2017.fr/evenements/bastille/preparation">La préparation en direct</a></li>
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Les appels thématiques<span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><a href="http://f-i.jlm2017.fr/appel_agriculture" target="_blank">Appel agriculture</a></li>
    <li><a href="http://f-i.jlm2017.fr/appel_justice" target="_blank">Appel justice</a></li>
    <li><a href="http://f-i.jlm2017.fr/appel_du_monde_de_la_foret" target="_blank">Appel forêt</a></li>
    <li><a href="http://f-i.jlm2017.fr/appel_nouveaux_droits_des_personnes" target="_blank">Appel nouveaux droits des personnes</a></li>
    <li><a href="http://f-i.jlm2017.fr/appel_enseignement_superieur_et_recherche" target="_blank">Appel enseignement supérieur et recherche</a></li>
    <li><a href="http://f-i.jlm2017.fr/appel_energie" target="_blank">Appel énergie</a></li>
    <li><a href="http://f-i.jlm2017.fr/appel_afrique" target="_blank">Appel Afrique</a></li>
  </ul>
</li>
