<div class="row">
  <div class="col-xs-2"><p>14:30</p></div><div class="col-xs-10"><p>Début du direct</p></div>
  <div class="col-xs-2"><p>15:00</p></div><div class="col-xs-10"><p>Séquence sur l'urgence sociale</p></div>
  <div class="col-xs-2"><p>16:20</p></div><div class="col-xs-10"><p>Séquence sur la relance écologique de l’activité économique</p></div>
  <div class="col-xs-2"><p>17:10</p></div><div class="col-xs-10"><p>Séquence sur le progrès humain</p></div>
  <div class="col-xs-2"><p>18:20</p></div><div class="col-xs-10"><p>Séquence sur la révolution fiscale</p></div>
  <div class="col-xs-2"><p>18:50</p></div><div class="col-xs-10"><p>Questions des journalistes</p></div>
</div>
