<div class="row">
  <div class="col-xs-2"><p></p></div><div class="col-xs-10"><p>Arrivée à Perigueux</p></div>
  <div class="col-xs-2"><p>15:30</p></div><div class="col-xs-10"><p>Salut républicain au maire de Périgueux</p></div>
  <div class="col-xs-2"><p>16:00</p></div><div class="col-xs-10"><p>Salut aux manifestants qui protestent contre les suppressions de postes à l'atelier SNCF de Périgueux devant la préfecture.</p></div>
  <div class="col-xs-2"><p>16:10</p></div><div class="col-xs-10"><p>Point presse</p></div>
  <div class="col-xs-2"><p>19:30</p></div><div class="col-xs-10"><p>Réunion publique</p></div>
</div>
