<h3>Déroulé du déplacement</h3>

<p><strong>Samedi 17 décembre (Martinique)</strong></p>
<div class="row">
  <div class="col-xs-4"><p>15:00 (heure locale)<br/>20:00 (heure métropole)</p></div>
  <div class="col-xs-8">
    <p>Réunion publique - Institut Martiniquais du Sport, Le Lamentin.</p>
    <p><a href="https://www.youtube.com/watch?v=4vhQIa0KAtw" class="btn btn-sm btn-primary btn-block" target="_blank">Visionner</a></p>
  </div>
</div>
<p><strong>Lundi 19 décembre (Guadeloupe)</strong></p>
<div class="row">
  <div class="col-xs-4"><p>19:00 (heure locale)<br/>00:00 (heure métropole)</p></div>
  <div class="col-xs-8">
    <p>Réunion publique - Palais des sports et des congrès du Gosier.</p>
    <p><a href="http://www.jlm2017.fr/reunion_publique_en_guadeloupe" class="btn btn-sm btn-primary btn-block">Visionner</a></p>
  </div>
</div>
