<h3>Déroulé de la journée de l'écologie de la France Insoumise</h3>

<div class="row">
  <div class="col-xs-3"><p><strong>9:30</strong></p></div><div class="col-xs-9"><p>Acceuil</p></div>
  <div class="col-xs-3"><p><strong>10:00</strong></p></div><div class="col-xs-9"><p>Introduction et présentation de la journée - Martine Billard, Co-animatrice du livret planification écologique et règle verte verte</p></div>
  <div class="col-xs-3"><p><strong>10:30 12:15</strong></p></div><div class="col-xs-9"><p>Les limites de la planète - Animation&nbsp;: Julien Armijo, chercheur en physique
  </p></div>
  <div class="col-xs-3"><p><strong>12:15</strong></p></div><div class="col-xs-9"><p>L’anthropocène&nbsp;: nouvelle époque pour la Terre, nouvelle condition humaine - Christophe Bonneuil, Historien des sciences CNRS</p></div>
  <div class="col-xs-3"><p><strong>13:30</strong></p></div><div class="col-xs-9"><p>Transition écologique et emploi - Philippe Quirion, Directeur de recherches au CNRS, économiste au Centre international de recherche sur l'environnement et le développement (CIRED), spécialiste de la transition énergétique</p></div>
  <div class="col-xs-3"><p><strong>13:45 15:15</strong></p></div><div class="col-xs-9"><p>Transition énergétique une impérieuse nécessité - Animation&nbsp;: David Pellicer, co-animateur du livret planification écologique et règle verte</p></div>
  <div class="col-xs-3"><p><strong>15:30 17:15</strong></p></div><div class="col-xs-9"><p>Aménagement du territoire et ruralité - Animation&nbsp;: Maud Assila, membre du groupe de travail du livret ruralité</p></div>
  <div class="col-xs-3"><strong>17:30</strong><p></p></div><div class="col-xs-9"><p>Émission « Esprit de campagne » 1h en direct</p></div>
  <div class="col-xs-3"><p><strong>18:30</strong></p></div><div class="col-xs-9"><p>Conclusion de Jean-Luc Mélenchon</p></div>
  <div class="col-md-12">
    <p><a target="_blank" href="/photos/journee_ecologie.jpg" class="btn btn-primary btn-block btn-lg">Télécharger le déroulé</a></p>
  </div>
  <div class="col-md-12">
    <p><a target="_blank" href="/photos/liste_stands.jpg" class="btn btn-primary btn-block btn-lg">Liste des stands</a></p>
  </div>
</div>
