<p><strong>Mardi 28 mars</strong></p>
<div class="row">
  <div class="col-xs-3"></div><div class="col-xs-9"><p>Arrivée à Dieppe et visite d'une verrerie</p></div>
</div>

<p><strong>Mercredi 29 mars</strong></p>
<div class="row">
  <div class="col-xs-3"><p>Matin</p></div><div class="col-xs-9"><p>Visite du port</p></div>
  <div class="col-xs-3"><p>Après-midi</p></div><div class="col-xs-9"><p>Camion Au tour du peuple</p></div>
  <div class="col-xs-3"><p>119h30</p></div><div class="col-xs-9"><p>Début du meeting</p></div>
  <div class="col-xs-3"><p>20h00</p></div><div class="col-xs-9"><p>Prise de parole de Jean-Luc Mélenchon</p></div>
</div>
