<p><strong>Mardi 28 mars</strong></p>
<div class="row">
  <div class="col-sm-4"></div><div class="col-sm-8"><p>Arrivée à Dieppe et visite d'une verrerie</p></div>
</div>

<p><strong>Mercredi 29 mars</strong></p>
<div class="row">
  <div class="col-sm-4"><p>Matin</p></div><div class="col-sm-8"><p>Visite du port</p></div>
  <div class="col-sm-4"><p>Après-midi</p></div><div class="col-sm-8"><p>Camion Au tour du peuple</p></div>
  <div class="col-sm-4"><p>19h30</p></div><div class="col-sm-8"><p>Début du meeting</p></div>
  <div class="col-sm-4"><p>20h00</p></div><div class="col-sm-8"><p>Prise de parole de Jean-Luc Mélenchon</p></div>
</div>
