<h3>Déroulé du jeudi 26 janvier</h3>

<div class="row">
  <div class="col-xs-2"><p></p></div><div class="col-xs-10"><p>Arrivée à Perigueux</p></div>
  <div class="col-xs-2"><p>15:30</p></div><div class="col-xs-10"><p>Salut républicain au maire de Périgueux</p></div>
  <div class="col-xs-2"><p>16:00</p></div><div class="col-xs-10"><p>Salut aux manifestants qui protestent contre les suppressions de postes à l'atelier SNCF de Périgueux devant la préfecture.</p></div>
  <div class="col-xs-2"><p>16:10</p></div><div class="col-xs-10"><p>Point presse</p></div>
  <div class="col-xs-2"><p>19:30</p></div><div class="col-xs-10"><p>Réunion publique</p></div>
</div>

<h3>Déroulé du vendredi 27 janvier</h3>

<div class="row">
  <div class="col-xs-2"><p></p></div><div class="col-xs-10"><p>Arrivée à Angoulême</p></div>
  <div class="col-xs-2"><p>10:30</p></div><div class="col-xs-10"><p>Visite de l'ENJMIN (École Nationale du Jeu et des Médias Interactifs Numeriques du Cnam)</p></div>
  <div class="col-xs-2"><p>14:30</p></div><div class="col-xs-10"><p>Visite du Nouveau Monde (BD alternative)</p></div>
  <div class="col-xs-2"><p>15:35</p></div><div class="col-xs-10"><p>Visite du Magic Mirror</p></div>
  <div class="col-xs-2"><p>16:45</p></div><div class="col-xs-10"><p>Visite du musée de la BD</p></div>
</div>
