<h3>Déroulé de la journée</h3>

<div class="row">
  <div class="col-xs-2"><p>09:30</p></div><div class="col-xs-10"><p>Manifestation contre le CETA devant le Parlement européen.</p></div>
  <div class="col-xs-2"><p>11:00</p></div><div class="col-xs-10"><p>Intervention contre le CETA au Parlement européen.</p></div>
  <div class="col-xs-2"><p>11:30</p></div><div class="col-xs-10"><p>Retour à la manifestation contre le CETA devant le Parlement européen.</p></div>
  <div class="col-xs-2"><p>12:00</p></div><div class="col-xs-10"><p>Votes au Parlement européen. Jean-Luc Mélenchon votera contre le CETA au cours de cette séance.</p></div>
  <div class="col-xs-2"><p>19:00</p></div><div class="col-xs-10"><p>Réunion publique à Strasbourg.</p></div>
</div>
