---
layout: default
title: 16/12/2016 - Réunion publique au Gosier en Guadeloupe
slug : martinique_guadeloupe
menu: true
date: 2016-12-16
image: /evenements/martinique_guadeloupe/photos/visuel_guadeloupe.jpg
description: |
  À minuit (heure métropolitaine, 19h heure locale), suivez en direct la réunion
  publique de Jean-Luc Mélenchon au Gosier, en Guadeloupe.
coordinates:
  - [16.2274,-61.4858]
map: true
subject: Réunion publique au Gosier en Guadeloupe
theme: Economie de la mer, transition écologique
---

<div class="row">
  <!-- Col 1 -->
  <div class="col-md-8">

    <!-- Streaming -->
    <p>
      <iframe width="1280" height="720" src="https://www.youtube.com/embed/jQxnh-1GSiI?rel=0" frameborder="0" allowfullscreen></iframe>
    </p>

    <!-- Infos -->
    <p class="lead hidden-xs hidden-sm">
      Participez sur <a href="https://twitter.com/search?q=%23JLMGosier">#JLMGosier</a>&nbsp;!
    </p>

    <div class="row">
      <div class="col-md-12">
        <!-- Bouton donner -->
        <p>
          Pour financer cet évènement, nous ne pouvons compter que sur nous-mêmes.<br />
          Aidez en faisant un don :
        </p>
        <p><a href="https://dons.jlm2017.fr" class="btn btn-primary btn-block btn-lg">Je donne</a></p>
      </div>
      <div class="col-md-12">

      </div>
    </div>

    <h3>En direct</h3>
    <p><small>Rechargez la page pour voir les dernières informations.</small></p>
    <div class="row">
      <div style="max-height: 950px; overflow:auto;">
        {% assign direct='direct_martinique_guadeloupe' %}
        {% include direct.html %}
      </div>
    </div>

  </div>

  <!-- Col 2 -->
  <div class="col-md-4 col-md-offset-0">

    <!-- Infos -->
    <p class="lead hidden-xs hidden-sm">
      Participez sur <a href="https://twitter.com/search?q=%23JLMGosier">#JLMGosier</a>&nbsp;!
    </p>

    <iframe src="https://www.youtube.com/live_chat?v=jQxnh-1GSiI&embed_domain=campagne.jlm2017.fr" style="height:500px;" frameborder="0"></iframe>

    <hr/>

    <!-- Déroulé -->
    {% include martinique_guadeloupe_deroule.html %}

  </div>
</div>
